<% if !logged_in? %>
<div class="center-block">

<h1>Log in</h1>

<%= form_tag login_path, method: :post, :class => "form-horizontal" do %>

<div class="row">
	<div class="col-sm-10">
		<div class="form-group col-xs-3">
			<%= label_tag :nickname %>
			<%= text_field_tag :nickname, nil,
			class: "form-control" %>
		</div>
	</div>
	<div class="col-sm-10">
		<div class="form-group col-xs-3">
			<%= label_tag :password %>
			<%= password_field_tag :password, nil,
			class: "form-control" %>
		</div>
	</div>
	<div class="col-sm-10">
		<%= submit_tag "Log In", class: "btn btn-primary" %>
	</div>
</div>
<% end %>
<p>
	New user? <%= link_to "Sign up now!", register_path %>
</p>

<% else %>
<script type="text/javascript">
	window.location="<%= users_path + '/' + current_user.id.to_s %>";</script>
<% end %>
</div">
