<% if !logged_in? %>
	<div class="panel-heading">
  	<h4>Register</h4>
 	</div>
	<%= form_for(@user) do |f| %>

		<% if @user.errors.any? %>
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this register:</h2>
		
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
				<% end %>
			</ul>
		<% end %>
		<div class="container-fluid">
		
		<label for="inputName" class="col-sm-2 control-label">Name:</label> 
			<div class="col-sm-10">
				<%= f.text_field :name %>
			</div>
			
		<label for="inputNick" class="col-sm-2 control-label">Nick:</label> 
			<div class="col-sm-10">		 
				<%= f.text_field :nickname %>
			</div>
		<label for="inputPasword" class="col-sm-2 control-label">Password:</label> 
			<div class="col-sm-10">		 
				<%= f.password_field :password %>
				<img src="http://www.paulafernandez.com/img/candado_18.gif" class="img-thumbnail">
			</div>
		<label for="inputPassword_confirmation" class="col-sm-2 control-label">Password Confirmation:</label> 
			<div class="col-sm-10">
				<%= f.password_field :password_confirmation %>
				<img src="http://www.paulafernandez.com/img/candado_18.gif" class="img-thumbnail">
				
			</div>
		</div>
		<%= submit_tag "Log In", class: "btn btn-primary" %>
	<% end %>
<% else %>
	<script type="text/javascript">
            window.location="<%= users_path + '/' + current_user.id.to_s %>";
    </script>
<% end %>
</div>
</div>