<h2><%= @user.name %></h2>
<% if logged_in? %>
	<h3>Friends</h3>
	<ul>
	  <% for friendship in @user.friendships %>
	    <li>
	      <%=h friendship.friend.nickname %>
	    </li>
	  <% end %>
	</ul>
	<p>New friend? <%= link_to "Add now!", friendships_path %></p>
	<p><%= link_to "Logout? ", logout_path %></p>
	<article class = "bottom-space">
		<div class="row center-xs">
			<div class="col"
			</div>
		</div>
	</articcle<
	<%image_tag user.avatar%>
<% else %>
	<p>You are not logged in <%= link_to "Login now!", login_path %></p>
<% end %>



